@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
$primaryColor: #35a8b8a6
$primaryLightColor: #ffffff41
$primaryShadow: #051818

// $primaryColor: #10969ba6
// $primaryLightColor: #469fe941
// $primaryShadow: #051818

// $primaryColor: #4cb4dd
// $primaryLightColor: #abcfdd
// $primaryShadow: #334b55

*
    box-sizing: border-box
    margin: 0
    padding: 0
    margin: 0px

// .main
//     max-width: 1200px
//     margin: 0 auto
//     margin-top: 2rem
//     background-color: white
//     box-shadow: 5px 5px 10px #3d3c3c

body
    background: linear-gradient(90deg, $primaryLightColor, $primaryColor)
    font-family: 'Roboto', sans-serif !important

.navTitle
    font-size: 2rem !important
.navLinks
    font-size: 1.2rem !important
.navShadow
    box-shadow: 5px 5px 10px $primaryShadow

.nav_link--active
    color: $primaryColor !important
    height: 38px !important
    border-bottom: 3px solid $primaryColor

.loginInput
    outline: 0
    background: #f2f2f2
    width: 100%
    border: 0
    border-radius: 5px
    margin: 0 0 15px
    padding: 15px
    box-sizing: border-box
    font-size: 18px
    font-family: 'Comfortaa', cursive
    &:focus
        background: #dbdbdb
.loginButton
    font-family: 'Comfortaa', cursive
    text-transform: uppercase
    outline: 0
    background: $primaryColor
    width: 100%
    border: 0
    border-radius: 5px
    padding: 15px
    color: #FFFFFF
    font-size: 14px
    -webkit-transition: all 0.3 ease
    transition: all 0.3 ease
    cursor: pointer

.card-container.card
    max-width: 500px !important
    padding: 40px 40px
.card-containerMax.card
    max-width: 1200px !important
    // padding: 40px 40px

.card
    background-color: #f7f7f7
    // padding: 20px 25px 30px
    margin: 0 auto 25px
    margin-top: 50px
    width: 95%
    box-shadow: 5px 5px 10px $primaryShadow
    // border-radius: 8px !important

.profile-img-card
    width: 96px
    height: 96px
    margin: 0 auto 10px
    display: block

    border-radius: 50%
.loginLogo
    margin: 0 auto 40px
    color: $primaryColor

.containerHome
    position: relative
    background-color: white !important
.imageHome
    opacity: 0.4
    img
        width: 100%
.textHome
    font-size: 2.5rem
    position: absolute
    font-weight: bolder
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: #000000
    text-shadow: 5px 5px 10px $primaryShadow

.buttonAddOrder
    display: inline-block
    min-width: 150px
    padding: 10px
    background-color: $primaryColor
    color: white
    font-size: 20px
    font-weight: bold
    cursor: pointer
    margin-left: auto
    border: none
    box-shadow: 2px 2px 4px $primaryShadow
    margin-bottom: 50px
    margin-top: 40px
    margin-right: 50px
    &:hover
        opacity: 0.7
    &:active
        background-color: $primaryShadow

.buttonAddOrderSmall
    font-size: 16px
    padding: 5px

.buttonDeleteOrder
    margin: 0px

.closeButton
    background-color: #cc1919
.confirmButton
    background-color: #56c010
// .popupBox
//     width: 1000px

.smallMargin
    margin: 10px !important
    // box-shadow: none
.submit-form
    background-color: #f5f5f5
    padding: 10px 60px

.headerOrder
    margin-bottom: 50px

.form-group
    margin-bottom: 30px
    label
        color: #000000
        font-size: 18px
        font-weight: bolder
        text-align: right
    .form-control
        margin-bottom: 15px !important
        width: 100% !important

.formInputOrder
    padding: 0 100px

.errorInput1
    background-color: red
    color: white
    width: fit-content
    padding: 15px 30px 5px 30px
    font-size: 20px
    font-weight: bold
    cursor: pointer
    margin: 0 auto
    margin-top: 40px
    box-shadow: 2px 2px 4px $primaryShadow
// .react-bootstrap-table th
//     background-color: red !important

// table tr:nth-of-type(2)
//     background-color: red !important
.page-link
    background-color: $primaryColor !important
    border: 1px $primaryColor!important
.active
    background-color: $primaryColor!important
    // border: solid 2px red !important
.tableOrders
    padding: 30px
.opacityRow
    opacity: 0.7 !important
.redRow
    background-color: #f8bebe59 !important
    opacity: 0.9
.greenRow
    background-color: #b5e07b59 !important
.yellowRow
    background-color: #f0ee804f !important

.grayRow
    background-color: #6969694f !important
.buttonsEdit
    display: flex
    justify-content: center
.scrollButton
    color: white
    text-decoration: none

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important

@media screen and (max-width:900px)
    .formInputOrder
        padding: 0 0
@media screen and (max-width:600px)
    .form-padding
        padding: 10px 10px

//     .form-group

//         display: flex
//         flex-direction: column
//         gap: 0px !important
//         label

//             // margin-left: auto
//             font-weight: bolder
//             // background-color: blue
//             width: 100% !important
//             text-align: left !important
//         .form-control

//             width: 100%
//             // max-width: 500px
